table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .hoverRow:hover{
    background-color: rgba(169, 169, 199, 0.463);
  }