.userAvatar{
    width: fit-content;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.Hspacer{
    height: 2px;
    width: 80%;
    background-color: black;
    margin: 20px auto;
}

.example-card {
    max-width: 400px;
    margin: auto;
  }
  
  .example-header-image {
    background-size: cover;
  }